.container {
    width: 80%;
    margin: 0 auto;
}
@media(max-width: 1023px) {
    .container {
        min-width: 90%;
        margin: 0 auto;
    }
}
@media(max-width: 769px) {
    .container {
        min-width: 95%;
        margin: 0 auto;
       
    }
}
@media(max-width: 480px) {
    .container {
        max-width: 98%;
        margin: 0 auto;
    
    }
}
